* {
  box-sizing: border-box;
}

$primary: #a23736;

body {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  background: #fafafa;
  color: #666;
  font-size: 28px;
  line-height: 1.6;
  margin: 0;
}

.home, .portfolio {
  padding: 48px;

  @media(max-width: 600px) {
    padding: 48px 24px;
  }
}

h1, h2, h3 {
  color: #222;
}

a {
  color: $primary;
  transition: all .3s ease;

  &:hover {
    color: #29527c;
  }
}

.portfolio {
  h1 {
    font-size: 22px;
    font-weight: 300;
    color: #222;
    margin: 0;
    margin-top: 32px;
  }
}

.card-layout {
  display: flex;
  margin-top: 100px;

  .card {
    flex: 0 1 33%;
    padding: 1rem;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #ddd;
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
    margin: 0 12px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    h2 {
      font-weight: 300;
      font-size: 24px;
    }
  }
}

.work {
  display: flex;
  margin-bottom: 100px;

  @media(max-width: 900px) {
    margin-bottom: 80px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }

  h3 {
    font-size: 18px;
    margin-top: 2em;
  }

  h3 + p {
    margin-top: 24px;
  }
}

.about {
  display: flex;
  flex-wrap: nowrap;
  margin: 80px 0;

  @media(max-width: 1080px) {
    flex-wrap: wrap;
  }

  .about-tile {
    flex: 0 1 25%;
    margin-right: 20px;
    border-left: 3px solid #ddd;
    padding-left: 16px;

    &:last-of-type {
      margin-right: 0;
    }

    @media(max-width: 1080px) {
      flex: 0 1 40%;
      margin-bottom: 12px;
    }

    @media(max-width: 670px) {
      flex: 0 1 100%;
      margin-bottom: 12px;
    }

    h2 {
      font-size: 16px;
      margin-top: 0;
    }

    .about-body {
      font-size: 16px;
    }
  }
}

.work {
  display: flex;
  font-size: 22px;
  line-height: 1.6;

  @media(max-width: 980px) {
    flex-wrap: wrap;
  }

  .work-copy {
    flex: 0 1 40%;

    @media(max-width: 980px) {
      flex: 0 1 100%;
    }
  }

  .work-images {
    flex: 0 1 60%;
    padding-left: 36px;

    @media(max-width: 980px) {
      flex: 0 1 100%;
      padding-left: 0;
    }

    .image {
      overflow: hidden;
      margin-bottom: 24px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
      display: flex;

      img {
        width: 100%;
        height: 100%;
      }
    }

    img {
      width: 100%;
    }
  }
}

.bold {
  font-weight: 600;
  color: #222;
}

.img-placeholder {
  height: 400px;
  background: #eee;
  display: block;
  width: 100%;
}

.button {
  display: inline-block;
  background: $primary;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 18px 24px;
  border-radius: 4px;
  margin-top: 16px;

  &:hover {
    color: #fff;
    background: darken($primary, 5%);
  }

}

.no-margin {
  margin: 0;
}
.footer {
  font-size: 12px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  padding-top: 24px;
}


// Case study styles

.casestudy {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 28px;
  }

  .description {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .description-text {
      width: 400px;
    }

    .description-roles {
      list-style: none;
    }
  }

  section {
    width: 100%;
    min-height: 100vh;
    padding: 48px 120px;

    .image {
      overflow: hidden;
      margin-bottom: 24px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
      display: flex;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .numeral {
      font-size: 18px;
    }

    .numeral+h1 {
      margin-top: 0;
    }

    p {
      width: 400px;
    }

    .section-header {
      .section-title {

      }

      .section-text {

      }
    }

    @media(max-width: 600px) {
      padding: 48px 24px;
    }

    &.section1 {
      background: #fee5df;
    }

    &.section2 {
      background: #01143a;
      color: #fff;

      h1, h2, .bold {
        color: #fff;
      }
    }

    &.section3 {
      background: #fedfe9;
      color: #222;
    }

    &.section4 {
      background: #eee;
    }

    &.section5 {
      background: #fff;
    }

    h3 {
      font-size: 22px;
      font-weight: normal;
    }

    .mockup {
      width: 100%;
      height: 700px;
      background: #fff;
      border-radius: 8px;
    }
  }
}
